@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200&family=Montserrat:wght@200&family=Taviraj:wght@100&display=swap');

* {
    margin: 0;
    padding: 0; 
    border: none; 
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    color: #151515;
    position: relative;
    font-weight: 900;
    font-size: 1rem; 
}

/* heading and logo */

h1, h2, h3 {
    font-family: Taviraj, sans-serif;
    letter-spacing: 3px;
    color: #3a3a3a; 
}


#logo {
    font-family: Catamaran, sans-serif;
    float: left;
    font-size: clamp(2rem, 5vh + 1rem, 6rem);
    margin-left: 20px;
    text-transform: uppercase;
}

img:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
}

/* navigation links */

#menu {
    font-family: Taviraj, sans-serif;
    font-size: clamp(1rem, 3vh + 1rem, 2rem);
}

#menu li {
    display: inline-flex; 
    list-style-type: none;
    margin-right: clamp(1rem, 3vh + 1rem, 2rem); 
}

#menu a {
    text-decoration: none;
    color: #3a3a3a;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    align-items: flex-end;
}

/* main page */

#heroimage {
    height: clamp(600px, 20vh, 250px);
} 


.about-me-photos img {
    width: clamp(200px, 20vw, 100px);
    margin-left: 20px;
} 

.row {  
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    margin-inline: auto;
  }

  #left {
    display: flex;
    flex: 1 1 20%;
    justify-content: center;
  }

  #right {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    padding: 1em; 
    text-align: center; 
  }

  #right h2 {
    font-size: clamp(2rem, 4vh + 1rem, 3rem);
    border-bottom: 1px solid #3a3a3a;
  }

  #right p {
    font-size: 1.1rem;
    padding: 1em;
  }

/* gallery page */

.gallery-left {
    flex: 50%;
    padding: 2em;
    text-align: center;
  }

  .gallery-right {
    flex: 50%;
    padding: 2em;
    text-align: center;
  }

  .gallery-left img {
    width: 250px;
  }

  .gallery-right img {
    width: 200px;
  }

 .gallery-heading {
    font-size: 2rem;
    border-bottom: 1px solid #3a3a3a;
 }

/* footer and social media */


.social-networks {
    text-align: center;
    padding: 2%;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    color: #3a3a3a;
    padding: 5%;
}

/* acting and voice */

video{
    min-width: 290px;
    max-width: 100%;
}

.act {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5rem;
}

.act img {
    width: 200px;
    padding: 10%;
}

/* contact page */

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}

.social img {
    width: 200px;
    padding: 1em;
}

.social a {
    text-decoration: none;
    font-size: 2rem;
}

.social h2 {
    font-size: 3rem;
    border-bottom: 1px solid #3a3a3a;
}

.social a:hover {
    border-bottom: 1px solid #3a3a3a;
}
