@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200&family=Montserrat:wght@200&family=Taviraj:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    color: #252525;
}

/* heading and logo */

h1, h2 {
    font-family: Taviraj, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #3a3a3a;
}

#logo {
    font-family: Catamaran, sans-serif;
    float: left;
    font-size: 300%;
    margin-left: 20px;
}

#menu {
    font-family: Taviraj, sans-serif;
    font-size: 200%;
}

#menu, #logo {
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 35px;
}

#menu a {
    text-decoration: none;
    color: #3a3a3a;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}